@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  background: #385623 url('./assets/images/chaupin1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 1em 1.5rem;
}

.btn--primary {
  background: #1f5637;
  color: #fff;
}

.btn--primary:hover {
  background: #fff;
  color: #1f5637;
}

/* Utilies */

.container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1024px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Tag */

main {
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

main h1 {
  color: #fff;
  margin-bottom: 1em;
  text-transform: uppercase;
}

main p {
  color: #fff;
}

/* Home Page */

#home p:last-of-type {
  margin-bottom: 1em;
}

#home .container {
  flex-direction: column;
}

/* Menu Page */
